/* Thommy Font */
@font-face {
  font-family: 'Thommy';
  src: url('/fonts/Thommy-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Thommy';
  src: url('/fonts/Thommy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Thommy';
  src: url('/fonts/Thommy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Modeling Font */
@font-face {
  font-family: 'Modeling';
  src: url('/fonts/Modeling-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Modeling';
  src: url('/fonts/Modeling-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'D-DIN';
  src: url('/fonts/D-DIN-Regular.woff2') format('woff2'),
       url('/fonts/D-DIN-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'D-DIN';
  src: url('/fonts/D-DIN-Bold.woff2') format('woff2'),
       url('/fonts/D-DIN-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


